*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #eee2dc;
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    border-radius: 8px;
    box-shadow: 2px 2px #aca4a0;
    background-color: #edc7b7;
    padding: 24px;
}

.main-container>h2{
    margin-top: 4px;
    text-align: center;
    color: #123c69;
    text-shadow: 2px 2px #aca4a0;
}

.temp-input{
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    width: 180px;
    height: 40px;
    border-width: 0px;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    margin-right: 8px;
}

.inner-flex{
    display: flex;
    margin-top: 30px;
}

.units label{
    font-size: 14px;
    font-weight: 500;
    color: #3c3a39;
    cursor: pointer;
}

.units input{
    cursor: pointer;
}

.error-style{
    color: rgb(242, 67, 67);
    margin-top: 4px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

#convert-butn{
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: #0f2f51;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #0f2f51;
    border-radius: 4px;
    cursor: pointer;
}

#convert-butn:hover{
    color: #eee2dc;
    background-color: #0f2f51;
}

.butn-div{
    text-align: center;
    margin-top: 20px;
}

.formula{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #ac3b61;
    animation: grow;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
}

@keyframes grow {
    50%{transform: scale(1.3,1.3);}
}

#result{
    text-align: center;
    color: #21548a;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

#result>span{
    color: #0c2744;
}

.main-container>hr{
    margin-top: 2px;
}